@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Oswald:wght@400;500;700&display=swap"); /* variables */
/* mixins */
body {
  margin: 0;
}

/******************************************************************/
/************************* MAIN STYLES ****************************/
/******************************************************************/
#es-rc #es-rc-content [data-es-rc] {
  font-size: 100%;
  max-width: 790px;
  margin: auto;
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
  /* some utility classes */
  /* navbar styles */
  /* slider buttons */
  /* cross sell slider, remove styles START */
  /* cross sell slider, remove styles END */
}
#es-rc #es-rc-content [data-es-rc] .es-line {
  border-top: 3px solid #f29602;
  opacity: 1;
  width: 70px;
  margin: auto;
}
@media (min-width: 600px) {
  #es-rc #es-rc-content [data-es-rc] .es-line {
    border-top: 3px solid #e85400;
    opacity: 1;
    width: 100px;
    margin: auto;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-mobile-hidden {
  display: none;
}
#es-rc #es-rc-content [data-es-rc] .es-sup {
  font-size: 0.4em;
  top: -1.5em;
}
@media (min-width: 400px) {
  #es-rc #es-rc-content [data-es-rc] .es-sup {
    font-size: 0.6em;
    top: -1em;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-navbar {
  background-color: transparent;
  position: fixed;
  z-index: 1;
}
#es-rc #es-rc-content [data-es-rc] .navbar-toggler {
  border: none;
}
#es-rc #es-rc-content [data-es-rc] .navbar-toggler-icon {
  background-image: url("../images/nav-burger.png");
  width: 30px;
  height: 28px;
}
#es-rc #es-rc-content [data-es-rc] .navbar-collapse {
  background-image: url("../images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100svw;
  height: 100svh;
  display: grid;
  place-content: center;
}
#es-rc #es-rc-content [data-es-rc] .nav-link {
  color: #FFF;
  font-size: 2rem;
}
#es-rc #es-rc-content [data-es-rc] .navbar-nav {
  text-align: center;
  gap: 3rem;
}
@media (min-width: 640px) {
  #es-rc #es-rc-content [data-es-rc] .navbar-collapse {
    height: unset;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content [data-es-rc] .navbar-collapse {
    width: unset;
    height: unset;
    background-image: none;
  }
  #es-rc #es-rc-content [data-es-rc] .es-navbar {
    position: static;
  }
  #es-rc #es-rc-content [data-es-rc] .nav-link {
    color: #000;
    font-size: 1.1rem;
    font-weight: 700;
  }
  #es-rc #es-rc-content [data-es-rc] .es-navbar-container {
    width: unset;
  }
}
@media (min-width: 900px) {
  #es-rc #es-rc-content [data-es-rc] .navbar-collapse {
    height: -moz-fit-content;
    height: fit-content;
  }
}
#es-rc #es-rc-content [data-es-rc] .carousel-control-prev-icon {
  background-image: url("../images/slider-btn.png");
}
#es-rc #es-rc-content [data-es-rc] .carousel-control-next-icon {
  background-image: url("../images/slider-btn.png");
  transform: rotate(180deg);
}
#es-rc #es-rc-content [data-es-rc] .es-kv__Ctn {
  background-image: url("../images/kv-bg-mobile.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 370px;
  position: relative;
}
#es-rc #es-rc-content [data-es-rc] .es-kv__overlay {
  position: absolute;
  background-image: url("../images/kv-bg-overlay-clean.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-width: 200px;
  width: 45%;
  max-width: 300px;
  min-height: 230px;
  transform: translate(0, 36%);
  left: 5%;
  padding: 1rem;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 0.8rem;
}
#es-rc #es-rc-content [data-es-rc] .es-kv__overlay::after {
  content: "";
  position: absolute;
  max-width: 80%;
  background-image: url("../images/watroba.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 200px;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -20%;
}
#es-rc #es-rc-content [data-es-rc] .es-kv__title {
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.2;
}
#es-rc #es-rc-content [data-es-rc] .es-kv__txt {
  font-size: 1.1rem;
  line-height: 1.1;
  max-width: 90%;
}
#es-rc #es-rc-content [data-es-rc] .es-kv__txt--mobile {
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  margin: auto;
}
@media (min-width: 596px) {
  #es-rc #es-rc-content [data-es-rc] .es-mobile-hidden--kv {
    display: block;
  }
  #es-rc #es-rc-content [data-es-rc] .es-desktop-hidden--kv {
    display: none;
  }
  #es-rc #es-rc-content [data-es-rc] .es-kv__Ctn {
    background-image: url("../images/kv-bg-desktop.png");
    background-size: cover;
    min-height: 500px;
  }
  #es-rc #es-rc-content [data-es-rc] .es-kv__overlay {
    min-height: 320px;
    transform: translate(8%, 15%);
  }
  #es-rc #es-rc-content [data-es-rc] .es-kv__overlay::after {
    width: 100%;
    height: 120px;
    bottom: -25%;
  }
}
@media (min-width: 620px) {
  #es-rc #es-rc-content [data-es-rc] .es-kv__Ctn {
    min-height: 520px;
  }
  #es-rc #es-rc-content [data-es-rc] .es-kv__overlay {
    max-width: 367px;
    height: 370px;
  }
  #es-rc #es-rc-content [data-es-rc] .es-kv__overlay::after {
    bottom: -23%;
    height: 140px;
  }
  #es-rc #es-rc-content [data-es-rc] .es-kv__title {
    font-size: 2.2rem;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-cross__header {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 1rem;
  padding-inline: 4rem;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-cross__header {
    font-size: 1.7rem;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-cross .carousel {
  padding-block: 1rem;
  width: 90%;
  margin: auto;
}
#es-rc #es-rc-content [data-es-rc] .es-cross .carousel-inner {
  width: 50%;
  margin: auto;
}
#es-rc #es-rc-content [data-es-rc] .es-cross .carousel-control-prev-icon {
  background-image: url("../images/slider-btn.png");
}
#es-rc #es-rc-content [data-es-rc] .es-cross .carousel-control-next-icon {
  background-image: url("../images/slider-btn.png");
  transform: rotate(180deg);
}
#es-rc #es-rc-content [data-es-rc] .es-cross__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
#es-rc #es-rc-content [data-es-rc] .es-cross__slide .es-line {
  margin-block: 0.7rem;
}
#es-rc #es-rc-content [data-es-rc] .es-cross__productName {
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0;
}
#es-rc #es-rc-content [data-es-rc] .es-cross__productDesc {
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}
#es-rc #es-rc-content [data-es-rc] .es-cross__btn {
  background-color: #e85400;
  color: #FFF;
  padding: 0.3rem;
  display: block;
  text-align: center;
  width: 120px;
  margin: auto;
  transition: all 300ms ease-in-out;
  font-style: italic;
  font-weight: 700;
  font-size: 1.2rem;
}
#es-rc #es-rc-content [data-es-rc] .es-cross__btn:hover {
  background-color: #FFF;
  outline: 3px solid #e85400;
  color: #e85400;
}
@media (min-width: 600px) {
  #es-rc #es-rc-content [data-es-rc] .es-cross__header {
    padding-inline: unset;
  }
  #es-rc #es-rc-content [data-es-rc] .es-cross__productName {
    font-size: 1.5rem;
  }
  #es-rc #es-rc-content [data-es-rc] .es-cross__productDesc {
    font-size: 1rem;
  }
  #es-rc #es-rc-content [data-es-rc] .es-cross__packshot {
    max-height: 230px;
  }
  #es-rc #es-rc-content [data-es-rc] .es-cross .es-line {
    margin-top: 50px;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-features {
  background-color: #ebebeb;
}
#es-rc #es-rc-content [data-es-rc] .es-features__title {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 1rem;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-features__title {
    font-size: 1.7rem;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-features__imgCtn {
  overflow: hidden;
}
#es-rc #es-rc-content [data-es-rc] .es-features__img {
  scale: 1.6;
  padding-block: 2.5rem;
}
#es-rc #es-rc-content [data-es-rc] .es-features__subtitle {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 1rem;
  font-size: 1.3rem;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-features__subtitle {
    font-size: 1.7rem;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-features__txt {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  max-width: 85%;
  margin: auto;
  line-height: 1.3;
}
@media (min-width: 440px) {
  #es-rc #es-rc-content [data-es-rc] .es-features__img {
    scale: 1.5;
  }
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-features__Ctn {
    background-image: url("../images/info-watroba.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  #es-rc #es-rc-content [data-es-rc] .es-features__title {
    padding-inline: 6rem;
  }
  #es-rc #es-rc-content [data-es-rc] .es-features__txt {
    font-size: 0.8rem;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-quiz {
  background: linear-gradient(180deg, rgb(235, 235, 235) 50%, rgb(255, 255, 255) 50%);
}
#es-rc #es-rc-content [data-es-rc] .es-quiz__circle {
  background-color: #e85400;
  color: white;
  font-size: 2.8rem;
  font-weight: 700;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 1;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-quiz__circle {
    font-size: 3.6rem;
    width: 150px;
    height: 150px;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-quiz__circle:after {
  content: "?";
  color: #4e2a21;
  font-size: 12rem;
  position: absolute;
  z-index: -2;
  transform: rotate(5.5deg) translateY(-0.5rem);
  line-height: 1;
  opacity: 0.3;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-quiz__circle:after {
    font-size: 13rem;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-quiz__title {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 1rem;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-quiz__title {
    font-size: 1.7rem;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-quiz__Ctn {
  background-image: url("../images/bg-quiz-mobile.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-quiz__Ctn {
    background-image: url("../images/bg-quiz-desktop.png");
  }
}
#es-rc #es-rc-content [data-es-rc] .es-quiz__Ctn:after {
  content: "";
  background-image: url("../images/watroba.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  bottom: -6%;
  width: 200px;
  height: 100px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-quiz__Ctn:after {
    bottom: -9%;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-quiz__slide-title {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #FFF;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-quiz__slide-title {
    margin-top: 2rem;
    font-size: 1.1rem;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-quiz__question--number {
  font-weight: 700;
  font-size: 2.7rem;
  color: #f29602;
  background-color: #FFF;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: grid;
  place-items: center;
  margin: 0;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-quiz__question--number {
    font-size: 2.2rem;
    width: 55px;
    height: 55px;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-quiz__question--txt {
  font-size: 1.3rem;
  font-weight: 700;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-quiz__question--txt {
    font-size: 2.3rem;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-quiz__btn--fact {
  background-color: #e85400;
  color: #FFF;
  padding: 0.4rem;
  display: block;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.3rem;
  width: 170px;
  transition: all 300ms ease-in-out;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-quiz__btn--fact {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-quiz__btn--fact:hover {
  background-color: #FFF;
  outline: 3px solid #e85400;
  color: #e85400;
}
#es-rc #es-rc-content [data-es-rc] .es-quiz__btn--myth {
  background-color: #000;
  color: #FFF;
  padding: 0.4rem;
  display: block;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.3rem;
  width: 170px;
  transition: all 300ms ease-in-out;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-quiz__btn--myth {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-quiz__btn--myth:hover {
  background-color: #FFF;
  outline: 3px solid #000;
  color: #000;
}
#es-rc #es-rc-content [data-es-rc] .es-quiz__question--buttonsCtn {
  position: relative;
}
#es-rc #es-rc-content [data-es-rc] .es-quiz__question-mark {
  position: absolute;
  color: #FFF;
  font-size: 5rem;
  font-weight: 700;
  transform: translate(0%, -50%) rotate(5deg);
  left: 75%;
  top: 50%;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-quiz__question-mark {
    transform: translate(-50%, -50%) rotate(5deg);
    left: 50%;
    top: 25%;
  }
}
#es-rc #es-rc-content [data-es-rc] .es-quiz__question--footer {
  color: #FFF;
  font-weight: 700;
  font-size: 1.3rem;
  height: 100px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-quiz__question--footer {
    font-size: 1.1rem;
  }
}
@media (min-width: 576px) {
  #es-rc #es-rc-content [data-es-rc] .es-quiz .carousel-inner {
    width: 80%;
  }
}/*# sourceMappingURL=styles.css.map */