@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Oswald:wght@400;500;700&display=swap');
@import "utilities";

body {
    margin: 0;

}




/******************************************************************/
/************************* MAIN STYLES ****************************/
/******************************************************************/


#es-rc #es-rc-content [data-es-rc] {
    font-size: 100%;
    max-width: 790px;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;

    /* some utility classes */
    .es-line {
        border-top: 3px solid $es-color--orange--lighter;
        opacity: 1;
        width: 70px;
        margin: auto;
    }

    @media (min-width: 576px) {
        .es-line {
            border-top: 3px solid $es-color--orange;
            opacity: 1;
            width: 100px;
            margin: auto;
        }
    }

    .es-mobile-hidden {
        display: none;
    }

    .es-sup {
        font-size: 0.4em;
        top: -1.5em;
    }

    @media (min-width: 400px) {
        .es-sup {
            font-size: 0.6em;
            top: -1em;
        }
    }
    /* navbar styles */

    .es-navbar {
        background-color: transparent;
        position: fixed;
        z-index: 1;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler-icon {
        background-image: url("../images/nav-burger.png");
        width: 30px;
        height: 28px;
    }

    .navbar-collapse {
        background-image: url("../images/bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100svw;
        height: 100svh;
        display: grid;
        place-content: center;
    }

    .nav-link {
        color: #FFF;
        font-size: 2rem;
    }

    .navbar-nav {
        text-align: center;
        gap: 3rem;
    }

    @media (min-width: 640px) {
        .navbar-collapse {
            height: unset;
        }
    }

    @media (min-width: 768px) {
        .navbar-collapse {
            width: unset;
            height: unset;
            background-image: none;
        }

        .es-navbar {
            position: static;
        }

        .nav-link {
            color: #000;
            font-size: 1.1rem;
            font-weight: 700;
        }

        .es-navbar-container {
            width: unset;
        }
    }

    @media (min-width: 900px) {
        .navbar-collapse {
            height: fit-content;
        }
    }

    /* slider buttons */ 
     .carousel-control-prev-icon {
        background-image: url("../images/slider-btn.png");
    }

     .carousel-control-next-icon {
        background-image: url("../images/slider-btn.png");
        transform: rotate(180deg);
    }
    .es-kv {
        &__Ctn {
            background-image: url("../images/kv-bg-mobile.png");
            background-position: top;
            background-size: contain;
            background-repeat: no-repeat;
            min-height: 370px;
            position: relative;
        }

        &__overlay {
            position: absolute;
            background-image: url("../images/kv-bg-overlay-clean.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;
            min-width: 200px;
            width: 45%;
            max-width: 300px;
            min-height: 230px;
            transform: translate(0, 36%);
            left: 5%;
            padding: 1rem;
            position: relative;
            font-family: "Oswald", sans-serif;
            font-size: 0.8rem;

            &::after {
                content: "";
                position: absolute;
                max-width: 80%;
                background-image: url("../images/watroba.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 100px;
                width: 200px;
                left: 50%;
                transform: translate(-50%, 0);
                bottom: -20%;
            }
        }

        &__title {
            color: #FFF;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 2rem;
            line-height: 1.2;
        }

        &__txt {
            font-size: 1.1rem;
            line-height: 1.1;
            max-width: 90%;

            &--mobile {
                font-weight: 700;
                text-align: center;
                padding: 1rem;
                margin: auto;
            }
        }

    }

    @media (min-width: 596px) {
        .es-mobile-hidden--kv {
            display: block;
        }

        .es-desktop-hidden--kv {
            display: none;
        }

        .es-kv {
            &__Ctn {
                background-image: url("../images/kv-bg-desktop.png");
                background-size: cover;
                min-height: 500px;
            }

            &__overlay {
                min-height: 320px;
                transform: translate(8%, 15%);

                &::after {
                    width: 100%;
                    height: 120px;
                    bottom: -25%;
                }
            }
        }
    }

    @media (min-width: 620px) {
        .es-kv {
            &__Ctn {
                min-height: 520px;
            }

            &__overlay {

                max-width: 367px;
                height: 370px;

                &::after {
                    bottom: -23%;
                    height: 140px;
                }
            }

            &__title {
                font-size: 2.2rem;
            }
        }
    }

    /* cross sell slider, remove styles START */
    .es-cross {
        &__header {
            @include es-section-header;
            padding-inline: 4rem;
        }

        & .carousel {
            padding-block: 1rem;
            width: 90%;
            margin: auto;
        }

        & .carousel-inner {
            width: 50%;
            margin: auto;
        }

        & .carousel-control-prev-icon {
            background-image: url("../images/slider-btn.png");
        }

        & .carousel-control-next-icon {
            background-image: url("../images/slider-btn.png");
            transform: rotate(180deg);
        }

        &__slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            .es-line {
                margin-block: 0.7rem;
            }

        }

        &__productName {
            font-weight: 700;
            font-size: 1rem;
            text-align: center;
            margin-bottom: 0;
        }

        &__productDesc {
            font-size: 0.8rem;
            font-weight: 700;
            text-align: center;
            margin-bottom: 0;
        }

        &__btn {
            @include es-button;
            font-style: italic;
            font-weight: 700;
            font-size: 1.2rem;
        }
    }

    @media (min-width: 600px) {
        .es-cross {
            &__header {
                padding-inline: unset;
            }

            &__productName {
                font-size: 1.5rem;
            }

            &__productDesc {
                font-size: 1rem;
            }

            &__packshot {
                max-height: 230px;
            }

            .es-line {
                margin-top: 50px;
            }
        }
    }

    /* cross sell slider, remove styles END */

    .es-features {
        background-color: $es-color--gray;

        &__title {
            @include es-section-header;
        }

        &__imgCtn {
            overflow: hidden;
        }

        &__img {
            scale: 1.6;
            padding-block: 2.5rem;
        }

        &__subtitle {
            @include es-section-header;
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 0;
            margin-top: 1rem;
            font-size: 1.3rem;
        }

        &__txt {
            font-family: 'Noto Sans', sans-serif;
            font-weight: 400;
            font-size: 1rem;
            text-align: center;
            max-width: 85%;
            margin: auto;
            line-height: 1.3;
        }
    }

    @media (min-width: 440px) {
        .es-features {
            &__img {
                scale: 1.5;
            }
        }
    }

    @media (min-width: 576px) {
        .es-features {
            &__Ctn {
                background-image: url("../images/info-watroba.png");
                background-size: 50%;
                background-repeat: no-repeat;
                background-position: center;
            }

            &__title {
                padding-inline: 6rem;

            }

            &__txt {
                font-size: 0.8rem;
            }
        }
    }

    .es-quiz {
        background: linear-gradient(180deg, rgba(235, 235, 235, 1) 50%, rgba(255, 255, 255, 1) 50%);

        &__circle {
            background-color: $es-color--orange;
            color: white;
            font-size: 2.8rem;
            font-weight: 700;
            border-radius: 50%;
            width: 130px;
            height: 130px;
            display: grid;
            place-items: center;
            position: relative;
            z-index: 1;
            @media (min-width: 576px) {
                font-size: 3.6rem;
                width: 150px;
            height: 150px;
            }
            &:after {
                content: "?";
                color: #4e2a21;
                font-size: 12rem;
                position: absolute;
                z-index: -2;
                transform: rotate(5.5deg) translateY(-0.5rem);
                line-height: 1;
                opacity: 0.3;
                @media (min-width: 576px) {
                    font-size: 13rem;
                }
            }

        }

        &__title {
            @include es-section-header;
        }

        &__Ctn {
            background-image: url("../images/bg-quiz-mobile.png");
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            position: relative;
            @media (min-width: 576px) {
                background-image: url("../images/bg-quiz-desktop.png");
            }

            &:after {
                content: "";
                background-image: url("../images/watroba.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                transform: translate(-50%);
                left: 50%;
                bottom: -6%;
                width: 200px;
                height: 100px;
                @media (min-width: 576px) {
                    bottom: -9%;
                }
            }
        }

        &__slide-title {
            font-family: 'Noto Sans', sans-serif;
            font-weight: 700;
            font-size: 1rem;
            color: #FFF;
            @media (min-width: 576px) {
                margin-top: 2rem;
                font-size: 1.1rem;
            }
        }

        &__question--number {
            font-weight: 700;
            font-size: 2.7rem;
            color: $es-color--orange--lighter;
            background-color: #FFF;
            border-radius: 50%;
            width: 65px;
            height: 65px;
            display: grid;
            place-items: center;
            margin: 0;
            @media (min-width: 576px) {
                font-size: 2.2rem;
                width: 55px;
                height: 55px;
            }
        }

        &__question--txt {
            font-size: 1.3rem;
            font-weight: 700;
            @media (min-width: 576px) {
                font-size: 2.3rem;
            }
        }

        &__btn--fact {
            @include es-button--quiz($es-color--orange);
        }

        &__btn--myth {
            @include es-button--quiz(#000);
        }

        &__question--buttonsCtn {
            position: relative;

        }

        &__question-mark {
            position: absolute;
            color: #FFF;
            font-size: 5rem;
            font-weight: 700;
            transform: translate(0%, -50%) rotate(5deg);
            left: 75%;
            top: 50%;
            @media (min-width: 576px) {
                transform: translate(-50%, -50%) rotate(5deg);
                left: 50%;
                top: 25%;
            }
        }

        &__question--footer {
            color: #FFF;
            font-weight: 700;
            font-size: 1.3rem;
            height: 100px;
            @media (min-width: 576px) {
                font-size: 1.1rem;
            }
        }
    }
    @media (min-width: 576px) {
        .es-quiz {
            .carousel-inner {
                width: 80%;
            }

        }
    }
    .es-info {
        &__title {
            @include es-section-header;
            margin-top: 1.5rem;
            padding-bottom: 0.5rem;
        }
        &__subtitle {
            color: $es-color--orange--lighter;
            font-size: 1.1rem;
            font-weight: 700;
            text-align: center;
            margin-block: 1.5rem;
            @media(min-width: 576px) {
                color: $es-color--orange;
                margin-top: 0.7rem;
            }
        }
        &__maintxt {
            font-family: "Noto Sans", sans-serif;
            text-align: center;
            line-height: 1.2;
            margin-bottom: 2.5rem;
            &--bold {
                font-family: "Noto Sans", sans-serif;
            text-align: center;
            line-height: 1.2;
            font-weight: 700;
            }
        }
        .carousel-inner {
            max-width: 70%;
            height: 150px;
            outline: 1px solid blue;
            @media (min-width: 576px) {
                height: unset;
            }
        }
        &__sliderTitle {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.4rem;
            text-align: center;
            margin-bottom: 1rem;
            @media (min-width: 576px) {
                font-size: 1.7rem;
            }
        }
        &__sliderTxt {
            font-family: "Noto Sans", sans-serif;
            text-align: center;
            margin-top: 1.5rem;
            line-height: 1.2;
            @media (min-width: 576px) {
                font-size: 1.1rem;
            }
        }
    }
}