@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Oswald:wght@400;500;700&display=swap');

body {
    margin: 0;
    
}

/* variables */
$es-color--orange: #e85400;
$es-color--orange--lighter: #f29602;
$es-color--gray: #ebebeb;

/* mixins */
@mixin es-section-header {
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem;
}

@mixin es-button {
    background-color: $es-color--orange;
    color: #FFF;
    padding: 0.3rem;
    display: block;
    text-align: center;
    width: 120px;
    margin: auto;
}

/******************************************************************/
/************************* MAIN STYLES ****************************/
/******************************************************************/


#es-rc #es-rc-content [data-es-rc] {
    font-size: 100%;
    max-width: 790px;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
    // width: 100%;
    .es-line {
        border-top: 3px solid $es-color--orange--lighter;
        opacity: 1;
        width: 70px;
        margin: auto;
    }

    @media (min-width: 600px) {
        .es-line {
            border-top: 3px solid $es-color--orange;
            opacity: 1;
            width: 100px;
            margin: auto;
        }
    }

    .es-mobile-hidden {
        display: none;
    }

    .es-sup {
        font-size: 0.4em;
        top: -1.5em;
    }
    @media (min-width: 400px) {
        .es-sup {
            font-size: 0.6em;
    top: -1em;
        }
    }
    .es-navbar {
        background-color: transparent;
        position: fixed;
        z-index: 1;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler-icon {
        background-image: url("../images/nav-burger.png");
        width: 30px;
        height: 28px;
    }

    .navbar-collapse {
        background-image: url("../images/bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100svw;
        height: 100svh;
        display: grid;
        place-content: center;
    }

    .nav-link {
        color: #FFF;
        font-size: 2rem;
    }

    .navbar-nav {
        text-align: center;
        gap: 3rem;
    }

    @media (min-width: 640px) {
        .navbar-collapse {
            height: unset;
        }
    }

    @media (min-width: 768px) {
        .navbar-collapse {
            width: unset;
            height: unset;
            background-image: none;
        }

        .es-navbar {
            position: static;
        }

        .nav-link {
            color: #000;
            font-size: 1.1rem;
            font-weight: 700;
        }

        .es-navbar-container {
            width: unset;
        }
    }

    @media (min-width: 900px) {
        .navbar-collapse {
            height: fit-content;
        }
    }

    .es-kv {
        &__Ctn {
            background-image: url("../images/kv-bg-mobile.png");
            background-position: top;
            background-size: contain;
            background-repeat: no-repeat;
            min-height: 370px;
            position: relative;
        }

        &__overlay {
            position: absolute;
            background-image: url("../images/kv-bg-overlay-clean.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;
            min-width: 200px;
            width: 45%;
            max-width: 300px;
            min-height: 230px;
            transform: translate(0, 36%);
            left: 5%;
            padding: 1rem;
            position: relative;
            font-family: "Oswald", sans-serif;
            font-size: 0.8rem;

            &::after {
                content: "";
                position: absolute;
                max-width: 80%;
                background-image: url("../images/watroba.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 100px;
                width: 200px;
                left: 50%;
                transform: translate(-50%, 0);
                bottom: -20%;
            }
        }

        &__title {
            color: #FFF;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 2rem;
            line-height: 1.2;
        }

        &__txt {
            font-size: 1.1rem;
            line-height: 1.1;
            max-width: 90%;

            &--mobile {
                font-weight: 700;
                text-align: center;
                padding: 1rem;
                margin: auto;
            }
        }

    }

    @media (min-width: 596px) {
        .es-mobile-hidden--kv {
            display: block;
        }

        .es-desktop-hidden--kv {
            display: none;
        }

        .es-kv {
            &__Ctn {
                background-image: url("../images/kv-bg-desktop.png");
                background-size: cover;
                min-height: 500px;
            }

            &__overlay {
                min-height: 320px;
                transform: translate(8%, 15%);

                &::after {
                    width: 100%;
                    height: 120px;
                    bottom: -25%;
                }
            }
        }
    }

    @media (min-width: 620px) {
        .es-kv {
            &__Ctn {
                min-height: 520px;
            }

            &__overlay {

                max-width: 367px;
                height: 370px;

                &::after {
                    bottom: -23%;
                    height: 140px;
                }
            }

            &__title {
                font-size: 2.2rem;
            }
        }
    }

    /* cross sell slider, remove styles START */
    .es-cross {
        &__header {
            @include es-section-header;
        }

        & .carousel {
            padding-block: 1rem;
            width: 90%;
            margin: auto;
        }

        & .carousel-inner {
            width: 50%;
            margin: auto;
        }

        & .carousel-control-prev-icon {
            background-image: url("../images/slider-btn.png");
        }

        & .carousel-control-next-icon {
            background-image: url("../images/slider-btn.png");
            transform: rotate(180deg);
        }

        &__slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            .es-line {
                margin-block: 0.7rem;
            }

        }

        &__productName {
            font-weight: 700;
            font-size: 1rem;
            text-align: center;
            margin-bottom: 0;
        }

        &__productDesc {
            font-size: 0.8rem;
            font-weight: 700;
            text-align: center;
            margin-bottom: 0;
        }

        &__btn {
            @include es-button;
            font-style: italic;
            font-weight: 700;
        }
    }

    @media (min-width: 600px) {
        .es-cross {
            &__productName {
                font-size: 1.5rem;
            }

            &__productDesc {
                font-size: 1rem;
            }

            &__packshot {
                max-height: 230px;
            }

            .es-line {
                margin-top: 50px;
            }
        }
    }

    /* cross sell slider, remove styles END */
    .es-features {
background-color: $es-color--gray;
&__title {
    @include es-section-header;
}
&__imgCtn {
    overflow: hidden;
}
&__img {
     scale: 1.6;
    padding-block: 2.5rem;
}
&__subtitle {
    @include es-section-header;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 1rem;
}
&__txt {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    max-width: 85%;
    margin: auto;
}
    }
}